body{
    font-family: 'Montserrat';font-size: 13px;
    margin-top:20px;
    background:#ECF0F5;
    border: none;
}

/* Typography*/

h1 {
font-family: Montserrat;
font-style: normal;
font-weight: 900 !important;
font-size: 30px;
color: #222D32;
}

h5 {
font-family: Montserrat;
font-style: normal;
font-weight: 700 !important;
font-size: 15px;
color: #222D32;
}

/* Cards */

.card {
    margin-bottom: 1.5rem;
}

.card-border-primary {
    background: transparent;
}

.card-actions a {
    color: #495057;
    text-decoration: none
}

.card-actions svg {
    width: 16px;
    height: 16px
}

.card-actions .dropdown {
    line-height: 1.4
}

.card-title {
    font-weight: 500;
    margin-top: .1rem
}

.card-subtitle {
    font-weight: 400
}

.card-table {
    margin-bottom: 0
}

.card-table tr td:first-child,
.card-table tr th:first-child {
    padding-left: 1.25rem
}

.card-table tr td:last-child,
.card-table tr th:last-child {
    padding-right: 1.25rem
}

.card-img-top {
    height: 100%
}
.card {
    margin-bottom: 1.5rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: .3rem;
    margin-top: 10px !important;
}

.card-header:first-child {
    border-radius: .3rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border: none;
}

.card-header.green {
    background-color: #00a65b15;
}

.card-header.yellow {
    background-color: #DADD3915;
}

.card-header.blue {
    background-color: #00C0EF15;
}

.card-header.red {
    background-color: #DD4B3915;
}

.card-body {
    margin-top: 10px !important;
    background-color: #E5E9F2;
    border-radius: .3rem;
}

.bg-light {
    background: none !important;
}

.card-body.p-3.column {
    padding: 0 !important;
}

.card-body.column {
    padding: 0 !important;
}